ConsumingWebService/ExposureService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://com.fhlbatl.service.exposure" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://com.fhlbatl.service.exposure" name="ExposureService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://com.fhlbatl.service.exposure" schemaLocation="ExposureService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getMemberLCV">
    <part name="parameters" element="tns:getMemberLCV"/>
  </message>
  <message name="getMemberLCVResponse">
    <part name="parameters" element="tns:getMemberLCVResponse"/>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception"/>
  </message>
  <message name="getPortfolioLCVList">
    <part name="parameters" element="tns:getPortfolioLCVList"/>
  </message>
  <message name="getPortfolioLCVListResponse">
    <part name="parameters" element="tns:getPortfolioLCVListResponse"/>
  </message>
  <message name="checkStatus">
    <part name="parameters" element="tns:checkStatus"/>
  </message>
  <message name="checkStatusResponse">
    <part name="parameters" element="tns:checkStatusResponse"/>
  </message>
  <message name="calculateExposureUsingLCV">
    <part name="parameters" element="tns:calculateExposureUsingLCV"/>
  </message>
  <message name="calculateExposureUsingLCVResponse">
    <part name="parameters" element="tns:calculateExposureUsingLCVResponse"/>
  </message>
  <message name="calculateExposureResultsUsingLCV">
    <part name="parameters" element="tns:calculateExposureResultsUsingLCV"/>
  </message>
  <message name="calculateExposureResultsUsingLCVResponse">
    <part name="parameters" element="tns:calculateExposureResultsUsingLCVResponse"/>
  </message>
  <message name="calculateExposureMemoPost">
    <part name="parameters" element="tns:calculateExposureMemoPost"/>
  </message>
  <message name="calculateExposureMemoPostResponse">
    <part name="parameters" element="tns:calculateExposureMemoPostResponse"/>
  </message>
  <message name="calculateExposureResultsMemoPost">
    <part name="parameters" element="tns:calculateExposureResultsMemoPost"/>
  </message>
  <message name="calculateExposureResultsMemoPostResponse">
    <part name="parameters" element="tns:calculateExposureResultsMemoPostResponse"/>
  </message>
  <message name="calculateExposureFromSource">
    <part name="parameters" element="tns:calculateExposureFromSource"/>
  </message>
  <message name="calculateExposureFromSourceResponse">
    <part name="parameters" element="tns:calculateExposureFromSourceResponse"/>
  </message>
  <message name="calculateExposureFromSourceNoQueue">
    <part name="parameters" element="tns:calculateExposureFromSourceNoQueue"/>
  </message>
  <message name="calculateExposureFromSourceNoQueueResponse">
    <part name="parameters" element="tns:calculateExposureFromSourceNoQueueResponse"/>
  </message>
  <message name="calculateExposureResultsFromSource">
    <part name="parameters" element="tns:calculateExposureResultsFromSource"/>
  </message>
  <message name="calculateExposureResultsFromSourceResponse">
    <part name="parameters" element="tns:calculateExposureResultsFromSourceResponse"/>
  </message>
  <message name="calculateExposureUsingAdvance">
    <part name="parameters" element="tns:calculateExposureUsingAdvance"/>
  </message>
  <message name="calculateExposureUsingAdvanceResponse">
    <part name="parameters" element="tns:calculateExposureUsingAdvanceResponse"/>
  </message>
  <message name="calculateExposureResultsUsingAdvance">
    <part name="parameters" element="tns:calculateExposureResultsUsingAdvance"/>
  </message>
  <message name="calculateExposureResultsUsingAdvanceResponse">
    <part name="parameters" element="tns:calculateExposureResultsUsingAdvanceResponse"/>
  </message>
  <message name="updateAdvanceExposureCalculationItem">
    <part name="parameters" element="tns:updateAdvanceExposureCalculationItem"/>
  </message>
  <message name="updateAdvanceExposureCalculationItemResponse">
    <part name="parameters" element="tns:updateAdvanceExposureCalculationItemResponse"/>
  </message>
  <message name="updateAdvanceExposureCalculationUsingList">
    <part name="parameters" element="tns:updateAdvanceExposureCalculationUsingList"/>
  </message>
  <message name="updateAdvanceExposureCalculationUsingListResponse">
    <part name="parameters" element="tns:updateAdvanceExposureCalculationUsingListResponse"/>
  </message>
  <message name="getAllExposureCalculations">
    <part name="parameters" element="tns:getAllExposureCalculations"/>
  </message>
  <message name="getAllExposureCalculationsResponse">
    <part name="parameters" element="tns:getAllExposureCalculationsResponse"/>
  </message>
  <message name="getTotalAdvanceCollateral">
    <part name="parameters" element="tns:getTotalAdvanceCollateral"/>
  </message>
  <message name="getTotalAdvanceCollateralResponse">
    <part name="parameters" element="tns:getTotalAdvanceCollateralResponse"/>
  </message>
  <message name="getTotalAdvanceCredit">
    <part name="parameters" element="tns:getTotalAdvanceCredit"/>
  </message>
  <message name="getTotalAdvanceCreditResponse">
    <part name="parameters" element="tns:getTotalAdvanceCreditResponse"/>
  </message>
  <message name="getLHFSAdvance">
    <part name="parameters" element="tns:getLHFSAdvance"/>
  </message>
  <message name="getLHFSAdvanceResponse">
    <part name="parameters" element="tns:getLHFSAdvanceResponse"/>
  </message>
  <message name="getLetterOfCredit">
    <part name="parameters" element="tns:getLetterOfCredit"/>
  </message>
  <message name="getLetterOfCreditResponse">
    <part name="parameters" element="tns:getLetterOfCreditResponse"/>
  </message>
  <message name="getMemberStandaloneDerivativeExposure">
    <part name="parameters" element="tns:getMemberStandaloneDerivativeExposure"/>
  </message>
  <message name="getMemberStandaloneDerivativeExposureResponse">
    <part name="parameters" element="tns:getMemberStandaloneDerivativeExposureResponse"/>
  </message>
  <message name="getMPFCreditEnhancement">
    <part name="parameters" element="tns:getMPFCreditEnhancement"/>
  </message>
  <message name="getMPFCreditEnhancementResponse">
    <part name="parameters" element="tns:getMPFCreditEnhancementResponse"/>
  </message>
  <message name="getDIAOverdraft">
    <part name="parameters" element="tns:getDIAOverdraft"/>
  </message>
  <message name="getDIAOverdraftResponse">
    <part name="parameters" element="tns:getDIAOverdraftResponse"/>
  </message>
  <message name="getEstPrepaymentFees">
    <part name="parameters" element="tns:getEstPrepaymentFees"/>
  </message>
  <message name="getEstPrepaymentFeesResponse">
    <part name="parameters" element="tns:getEstPrepaymentFeesResponse"/>
  </message>
  <message name="getCorporateSettlements">
    <part name="parameters" element="tns:getCorporateSettlements"/>
  </message>
  <message name="getCorporateSettlementsResponse">
    <part name="parameters" element="tns:getCorporateSettlementsResponse"/>
  </message>
  <message name="getLetterOfCreditCorporateSettlements">
    <part name="parameters" element="tns:getLetterOfCreditCorporateSettlements"/>
  </message>
  <message name="getLetterOfCreditCorporateSettlementsResponse">
    <part name="parameters" element="tns:getLetterOfCreditCorporateSettlementsResponse"/>
  </message>
  <message name="getUnsecuredCreditOvernight">
    <part name="parameters" element="tns:getUnsecuredCreditOvernight"/>
  </message>
  <message name="getUnsecuredCreditOvernightResponse">
    <part name="parameters" element="tns:getUnsecuredCreditOvernightResponse"/>
  </message>
  <message name="getUnsecuredCreditTerm">
    <part name="parameters" element="tns:getUnsecuredCreditTerm"/>
  </message>
  <message name="getUnsecuredCreditTermResponse">
    <part name="parameters" element="tns:getUnsecuredCreditTermResponse"/>
  </message>
  <message name="getUnsecuredCreditSwap">
    <part name="parameters" element="tns:getUnsecuredCreditSwap"/>
  </message>
  <message name="getUnsecuredCreditSwapResponse">
    <part name="parameters" element="tns:getUnsecuredCreditSwapResponse"/>
  </message>
  <message name="getTotalCollateralExposure">
    <part name="parameters" element="tns:getTotalCollateralExposure"/>
  </message>
  <message name="getTotalCollateralExposureResponse">
    <part name="parameters" element="tns:getTotalCollateralExposureResponse"/>
  </message>
  <message name="getTotalUnsecuredCreditExposure">
    <part name="parameters" element="tns:getTotalUnsecuredCreditExposure"/>
  </message>
  <message name="getTotalUnsecuredCreditExposureResponse">
    <part name="parameters" element="tns:getTotalUnsecuredCreditExposureResponse"/>
  </message>
  <message name="getTotalSecuredCreditExposure">
    <part name="parameters" element="tns:getTotalSecuredCreditExposure"/>
  </message>
  <message name="getTotalSecuredCreditExposureResponse">
    <part name="parameters" element="tns:getTotalSecuredCreditExposureResponse"/>
  </message>
  <message name="getTotalCreditExposure">
    <part name="parameters" element="tns:getTotalCreditExposure"/>
  </message>
  <message name="getTotalCreditExposureResponse">
    <part name="parameters" element="tns:getTotalCreditExposureResponse"/>
  </message>
  <message name="getProjTotalCollateralExposure">
    <part name="parameters" element="tns:getProjTotalCollateralExposure"/>
  </message>
  <message name="getProjTotalCollateralExposureResponse">
    <part name="parameters" element="tns:getProjTotalCollateralExposureResponse"/>
  </message>
  <message name="getCashPledged">
    <part name="parameters" element="tns:getCashPledged"/>
  </message>
  <message name="getCashPledgedResponse">
    <part name="parameters" element="tns:getCashPledgedResponse"/>
  </message>
  <message name="getCollateralMaintenanceLevel">
    <part name="parameters" element="tns:getCollateralMaintenanceLevel"/>
  </message>
  <message name="getCollateralMaintenanceLevelResponse">
    <part name="parameters" element="tns:getCollateralMaintenanceLevelResponse"/>
  </message>
  <message name="getProjCollateralMaintenanceLevel">
    <part name="parameters" element="tns:getProjCollateralMaintenanceLevel"/>
  </message>
  <message name="getProjCollateralMaintenanceLevelResponse">
    <part name="parameters" element="tns:getProjCollateralMaintenanceLevelResponse"/>
  </message>
  <message name="getCollateralMarketValue">
    <part name="parameters" element="tns:getCollateralMarketValue"/>
  </message>
  <message name="getCollateralMarketValueResponse">
    <part name="parameters" element="tns:getCollateralMarketValueResponse"/>
  </message>
  <message name="getTotalLCV">
    <part name="parameters" element="tns:getTotalLCV"/>
  </message>
  <message name="getTotalLCVResponse">
    <part name="parameters" element="tns:getTotalLCVResponse"/>
  </message>
  <message name="getAffiliateLCV">
    <part name="parameters" element="tns:getAffiliateLCV"/>
  </message>
  <message name="getAffiliateLCVResponse">
    <part name="parameters" element="tns:getAffiliateLCVResponse"/>
  </message>
  <message name="getLCVExcess">
    <part name="parameters" element="tns:getLCVExcess"/>
  </message>
  <message name="getLCVExcessResponse">
    <part name="parameters" element="tns:getLCVExcessResponse"/>
  </message>
  <message name="getLCVDivTotalCollateralExposure">
    <part name="parameters" element="tns:getLCVDivTotalCollateralExposure"/>
  </message>
  <message name="getLCVDivTotalCollateralExposureResponse">
    <part name="parameters" element="tns:getLCVDivTotalCollateralExposureResponse"/>
  </message>
  <message name="getLCVDivCollateralMaintenanceLevel">
    <part name="parameters" element="tns:getLCVDivCollateralMaintenanceLevel"/>
  </message>
  <message name="getLCVDivCollateralMaintenanceLevelResponse">
    <part name="parameters" element="tns:getLCVDivCollateralMaintenanceLevelResponse"/>
  </message>
  <message name="getProjLCVExcess">
    <part name="parameters" element="tns:getProjLCVExcess"/>
  </message>
  <message name="getProjLCVExcessResponse">
    <part name="parameters" element="tns:getProjLCVExcessResponse"/>
  </message>
  <message name="getLCVDivProjTotalCollaterallExposure">
    <part name="parameters" element="tns:getLCVDivProjTotalCollaterallExposure"/>
  </message>
  <message name="getLCVDivProjTotalCollaterallExposureResponse">
    <part name="parameters" element="tns:getLCVDivProjTotalCollaterallExposureResponse"/>
  </message>
  <message name="getTotalAssets">
    <part name="parameters" element="tns:getTotalAssets"/>
  </message>
  <message name="getTotalAssetsResponse">
    <part name="parameters" element="tns:getTotalAssetsResponse"/>
  </message>
  <message name="getTotalCollateralExposureDivAssets">
    <part name="parameters" element="tns:getTotalCollateralExposureDivAssets"/>
  </message>
  <message name="getTotalCollateralExposureDivAssetsResponse">
    <part name="parameters" element="tns:getTotalCollateralExposureDivAssetsResponse"/>
  </message>
  <message name="getProjTotalCollateralExposureDivAssets">
    <part name="parameters" element="tns:getProjTotalCollateralExposureDivAssets"/>
  </message>
  <message name="getProjTotalCollateralExposureDivAssetsResponse">
    <part name="parameters" element="tns:getProjTotalCollateralExposureDivAssetsResponse"/>
  </message>
  <message name="getTotalCreditExposureDivAssets">
    <part name="parameters" element="tns:getTotalCreditExposureDivAssets"/>
  </message>
  <message name="getTotalCreditExposureDivAssetsResponse">
    <part name="parameters" element="tns:getTotalCreditExposureDivAssetsResponse"/>
  </message>
  <message name="getCreditAvailability">
    <part name="parameters" element="tns:getCreditAvailability"/>
  </message>
  <message name="getCreditAvailabilityResponse">
    <part name="parameters" element="tns:getCreditAvailabilityResponse"/>
  </message>
  <message name="setCreditAvailabilityAmount">
    <part name="parameters" element="tns:setCreditAvailabilityAmount"/>
  </message>
  <message name="setCreditAvailabilityAmountResponse">
    <part name="parameters" element="tns:setCreditAvailabilityAmountResponse"/>
  </message>
  <message name="getRemainingCreditAvailability">
    <part name="parameters" element="tns:getRemainingCreditAvailability"/>
  </message>
  <message name="getRemainingCreditAvailabilityResponse">
    <part name="parameters" element="tns:getRemainingCreditAvailabilityResponse"/>
  </message>
  <message name="getCreditAvailabilityDivAssets">
    <part name="parameters" element="tns:getCreditAvailabilityDivAssets"/>
  </message>
  <message name="getCreditAvailabilityDivAssetsResponse">
    <part name="parameters" element="tns:getCreditAvailabilityDivAssetsResponse"/>
  </message>
  <message name="getAdvancesDivAssets">
    <part name="parameters" element="tns:getAdvancesDivAssets"/>
  </message>
  <message name="getAdvancesDivAssetsResponse">
    <part name="parameters" element="tns:getAdvancesDivAssetsResponse"/>
  </message>
  <message name="getLCVDivAdvances">
    <part name="parameters" element="tns:getLCVDivAdvances"/>
  </message>
  <message name="getLCVDivAdvancesResponse">
    <part name="parameters" element="tns:getLCVDivAdvancesResponse"/>
  </message>
  <message name="getLHFSLCV">
    <part name="parameters" element="tns:getLHFSLCV"/>
  </message>
  <message name="getLHFSLCVResponse">
    <part name="parameters" element="tns:getLHFSLCVResponse"/>
  </message>
  <message name="getLHFSLCVExcess">
    <part name="parameters" element="tns:getLHFSLCVExcess"/>
  </message>
  <message name="getLHFSLCVExcessResponse">
    <part name="parameters" element="tns:getLHFSLCVExcessResponse"/>
  </message>
  <message name="getAffiliateReliance">
    <part name="parameters" element="tns:getAffiliateReliance"/>
  </message>
  <message name="getAffiliateRelianceResponse">
    <part name="parameters" element="tns:getAffiliateRelianceResponse"/>
  </message>
  <portType name="ExposureServicePort">
    <operation name="getMemberLCV">
      <input message="tns:getMemberLCV"/>
      <output message="tns:getMemberLCVResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getPortfolioLCVList">
      <input message="tns:getPortfolioLCVList"/>
      <output message="tns:getPortfolioLCVListResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="checkStatus">
      <input message="tns:checkStatus"/>
      <output message="tns:checkStatusResponse"/>
    </operation>
    <operation name="calculateExposureUsingLCV">
      <input message="tns:calculateExposureUsingLCV"/>
      <output message="tns:calculateExposureUsingLCVResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="calculateExposureResultsUsingLCV">
      <input message="tns:calculateExposureResultsUsingLCV"/>
      <output message="tns:calculateExposureResultsUsingLCVResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="calculateExposureMemoPost">
      <input message="tns:calculateExposureMemoPost"/>
      <output message="tns:calculateExposureMemoPostResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="calculateExposureResultsMemoPost">
      <input message="tns:calculateExposureResultsMemoPost"/>
      <output message="tns:calculateExposureResultsMemoPostResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="calculateExposureFromSource">
      <input message="tns:calculateExposureFromSource"/>
      <output message="tns:calculateExposureFromSourceResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="calculateExposureFromSourceNoQueue">
      <input message="tns:calculateExposureFromSourceNoQueue"/>
      <output message="tns:calculateExposureFromSourceNoQueueResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="calculateExposureResultsFromSource">
      <input message="tns:calculateExposureResultsFromSource"/>
      <output message="tns:calculateExposureResultsFromSourceResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="calculateExposureUsingAdvance">
      <input message="tns:calculateExposureUsingAdvance"/>
      <output message="tns:calculateExposureUsingAdvanceResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="calculateExposureResultsUsingAdvance">
      <input message="tns:calculateExposureResultsUsingAdvance"/>
      <output message="tns:calculateExposureResultsUsingAdvanceResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="updateAdvanceExposureCalculationItem">
      <input message="tns:updateAdvanceExposureCalculationItem"/>
      <output message="tns:updateAdvanceExposureCalculationItemResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="updateAdvanceExposureCalculationUsingList">
      <input message="tns:updateAdvanceExposureCalculationUsingList"/>
      <output message="tns:updateAdvanceExposureCalculationUsingListResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getAllExposureCalculations">
      <input message="tns:getAllExposureCalculations"/>
      <output message="tns:getAllExposureCalculationsResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getTotalAdvanceCollateral">
      <input message="tns:getTotalAdvanceCollateral"/>
      <output message="tns:getTotalAdvanceCollateralResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getTotalAdvanceCredit">
      <input message="tns:getTotalAdvanceCredit"/>
      <output message="tns:getTotalAdvanceCreditResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getLHFSAdvance">
      <input message="tns:getLHFSAdvance"/>
      <output message="tns:getLHFSAdvanceResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getLetterOfCredit">
      <input message="tns:getLetterOfCredit"/>
      <output message="tns:getLetterOfCreditResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getMemberStandaloneDerivativeExposure">
      <input message="tns:getMemberStandaloneDerivativeExposure"/>
      <output message="tns:getMemberStandaloneDerivativeExposureResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getMPFCreditEnhancement">
      <input message="tns:getMPFCreditEnhancement"/>
      <output message="tns:getMPFCreditEnhancementResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getDIAOverdraft">
      <input message="tns:getDIAOverdraft"/>
      <output message="tns:getDIAOverdraftResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getEstPrepaymentFees">
      <input message="tns:getEstPrepaymentFees"/>
      <output message="tns:getEstPrepaymentFeesResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getCorporateSettlements">
      <input message="tns:getCorporateSettlements"/>
      <output message="tns:getCorporateSettlementsResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getLetterOfCreditCorporateSettlements">
      <input message="tns:getLetterOfCreditCorporateSettlements"/>
      <output message="tns:getLetterOfCreditCorporateSettlementsResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getUnsecuredCreditOvernight">
      <input message="tns:getUnsecuredCreditOvernight"/>
      <output message="tns:getUnsecuredCreditOvernightResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getUnsecuredCreditTerm">
      <input message="tns:getUnsecuredCreditTerm"/>
      <output message="tns:getUnsecuredCreditTermResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getUnsecuredCreditSwap">
      <input message="tns:getUnsecuredCreditSwap"/>
      <output message="tns:getUnsecuredCreditSwapResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getTotalCollateralExposure">
      <input message="tns:getTotalCollateralExposure"/>
      <output message="tns:getTotalCollateralExposureResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getTotalUnsecuredCreditExposure">
      <input message="tns:getTotalUnsecuredCreditExposure"/>
      <output message="tns:getTotalUnsecuredCreditExposureResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getTotalSecuredCreditExposure">
      <input message="tns:getTotalSecuredCreditExposure"/>
      <output message="tns:getTotalSecuredCreditExposureResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getTotalCreditExposure">
      <input message="tns:getTotalCreditExposure"/>
      <output message="tns:getTotalCreditExposureResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getProjTotalCollateralExposure">
      <input message="tns:getProjTotalCollateralExposure"/>
      <output message="tns:getProjTotalCollateralExposureResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getCashPledged">
      <input message="tns:getCashPledged"/>
      <output message="tns:getCashPledgedResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getCollateralMaintenanceLevel">
      <input message="tns:getCollateralMaintenanceLevel"/>
      <output message="tns:getCollateralMaintenanceLevelResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getProjCollateralMaintenanceLevel">
      <input message="tns:getProjCollateralMaintenanceLevel"/>
      <output message="tns:getProjCollateralMaintenanceLevelResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getCollateralMarketValue">
      <input message="tns:getCollateralMarketValue"/>
      <output message="tns:getCollateralMarketValueResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getTotalLCV">
      <input message="tns:getTotalLCV"/>
      <output message="tns:getTotalLCVResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getAffiliateLCV">
      <input message="tns:getAffiliateLCV"/>
      <output message="tns:getAffiliateLCVResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getLCVExcess">
      <input message="tns:getLCVExcess"/>
      <output message="tns:getLCVExcessResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getLCVDivTotalCollateralExposure">
      <input message="tns:getLCVDivTotalCollateralExposure"/>
      <output message="tns:getLCVDivTotalCollateralExposureResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getLCVDivCollateralMaintenanceLevel">
      <input message="tns:getLCVDivCollateralMaintenanceLevel"/>
      <output message="tns:getLCVDivCollateralMaintenanceLevelResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getProjLCVExcess">
      <input message="tns:getProjLCVExcess"/>
      <output message="tns:getProjLCVExcessResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getLCVDivProjTotalCollaterallExposure">
      <input message="tns:getLCVDivProjTotalCollaterallExposure"/>
      <output message="tns:getLCVDivProjTotalCollaterallExposureResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getTotalAssets">
      <input message="tns:getTotalAssets"/>
      <output message="tns:getTotalAssetsResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getTotalCollateralExposureDivAssets">
      <input message="tns:getTotalCollateralExposureDivAssets"/>
      <output message="tns:getTotalCollateralExposureDivAssetsResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getProjTotalCollateralExposureDivAssets">
      <input message="tns:getProjTotalCollateralExposureDivAssets"/>
      <output message="tns:getProjTotalCollateralExposureDivAssetsResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getTotalCreditExposureDivAssets">
      <input message="tns:getTotalCreditExposureDivAssets"/>
      <output message="tns:getTotalCreditExposureDivAssetsResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getCreditAvailability">
      <input message="tns:getCreditAvailability"/>
      <output message="tns:getCreditAvailabilityResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="setCreditAvailabilityAmount">
      <input message="tns:setCreditAvailabilityAmount"/>
      <output message="tns:setCreditAvailabilityAmountResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getRemainingCreditAvailability">
      <input message="tns:getRemainingCreditAvailability"/>
      <output message="tns:getRemainingCreditAvailabilityResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getCreditAvailabilityDivAssets">
      <input message="tns:getCreditAvailabilityDivAssets"/>
      <output message="tns:getCreditAvailabilityDivAssetsResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getAdvancesDivAssets">
      <input message="tns:getAdvancesDivAssets"/>
      <output message="tns:getAdvancesDivAssetsResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getLCVDivAdvances">
      <input message="tns:getLCVDivAdvances"/>
      <output message="tns:getLCVDivAdvancesResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getLHFSLCV">
      <input message="tns:getLHFSLCV"/>
      <output message="tns:getLHFSLCVResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getLHFSLCVExcess">
      <input message="tns:getLHFSLCVExcess"/>
      <output message="tns:getLHFSLCVExcessResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getAffiliateReliance">
      <input message="tns:getAffiliateReliance"/>
      <output message="tns:getAffiliateRelianceResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
  </portType>
  <binding name="ExposureServicePortBinding" type="tns:ExposureServicePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getMemberLCV">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getPortfolioLCVList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="checkStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="calculateExposureUsingLCV">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="calculateExposureResultsUsingLCV">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="calculateExposureMemoPost">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="calculateExposureResultsMemoPost">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="calculateExposureFromSource">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="calculateExposureFromSourceNoQueue">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="calculateExposureResultsFromSource">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="calculateExposureUsingAdvance">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="calculateExposureResultsUsingAdvance">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="updateAdvanceExposureCalculationItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="updateAdvanceExposureCalculationUsingList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getAllExposureCalculations">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getTotalAdvanceCollateral">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getTotalAdvanceCredit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getLHFSAdvance">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getLetterOfCredit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getMemberStandaloneDerivativeExposure">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getMPFCreditEnhancement">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getDIAOverdraft">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getEstPrepaymentFees">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getCorporateSettlements">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getLetterOfCreditCorporateSettlements">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getUnsecuredCreditOvernight">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getUnsecuredCreditTerm">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getUnsecuredCreditSwap">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getTotalCollateralExposure">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getTotalUnsecuredCreditExposure">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getTotalSecuredCreditExposure">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getTotalCreditExposure">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getProjTotalCollateralExposure">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getCashPledged">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getCollateralMaintenanceLevel">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getProjCollateralMaintenanceLevel">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getCollateralMarketValue">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getTotalLCV">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getAffiliateLCV">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getLCVExcess">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getLCVDivTotalCollateralExposure">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getLCVDivCollateralMaintenanceLevel">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getProjLCVExcess">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getLCVDivProjTotalCollaterallExposure">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getTotalAssets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getTotalCollateralExposureDivAssets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getProjTotalCollateralExposureDivAssets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getTotalCreditExposureDivAssets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getCreditAvailability">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="setCreditAvailabilityAmount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getRemainingCreditAvailability">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getCreditAvailabilityDivAssets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getAdvancesDivAssets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getLCVDivAdvances">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getLHFSLCV">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getLHFSLCVExcess">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getAffiliateReliance">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ExposureService">
    <port name="ExposureServicePort" binding="tns:ExposureServicePortBinding">
      <soap:address location="http://localhost:7001/exp/exposure_svc/1_1"/>
    </port>
  </service>
</definitions>